.nav__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top:  solid 0.1em rgba(128, 128, 128, 0.164);
  box-shadow: 1px rgba(128, 128, 128, 0.171);
  &--navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  ul {
    text-decoration: none;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #4b4b4b;
  }
}
