.nav__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.1em rgba(128, 128, 128, 0.164);
  box-shadow: 0 1px rgba(128, 128, 128, 0.171);
  img {
    margin: 0 0 0 1em;
  }
  &--signIn {
    padding: 0 1em 0em 0;
  }
  a{
    text-decoration: none;
    color:rgb(21, 89, 214);
  }
}

