@import "../utilities/variables";

.header__store{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fontStore;
    &__nav1{
        font-family: $fontStore;
    }
    &__nav2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;;
        align-items: flex-end;
        .header__store__navegador{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 2em;
            @media screen and (max-width: 450px){
            display: flex;
            flex-direction: column;
        }
        .fa-magnifying-glass{
                border-bottom: 1px solid black;
            }

        
        }
        li{

            list-style-type: none;
        }
    }
}