.nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 0.1em rgba(128, 128, 128, 0.164);
  -webkit-box-shadow: 0 1px rgba(128, 128, 128, 0.171);
          box-shadow: 0 1px rgba(128, 128, 128, 0.171);
}

.nav__bar img {
  margin: 0 0 0 1em;
}

.nav__bar--signIn {
  padding: 0 1em 0em 0;
}

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 0.1em rgba(128, 128, 128, 0.164);
  -webkit-box-shadow: 1px rgba(128, 128, 128, 0.171);
          box-shadow: 1px rgba(128, 128, 128, 0.171);
}

.nav__footer--navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.nav__footer ul {
  text-decoration: none;
  list-style: none;
}

.nav__footer a {
  text-decoration: none;
  color: #4b4b4b;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulario__paragraph {
  font-family: "Inter", sans-serif;
}

.formulario .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.formulario .button__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15em;
  height: 2em;
  font-family: "Inter", sans-serif;
}

.formulario .button__media a {
  text-decoration: none;
  color: white;
  margin-left: 0.5em;
  font-family: "Inter", sans-serif;
}

.formulario .button__media--Facebook {
  background-color: #3b5998;
}

.formulario .button__media--Google {
  background-color: cornflowerblue;
}

.formulario__label {
  font-family: "Inter", sans-serif;
}

.formulario__label a {
  color: #1559d6;
  text-decoration: none;
}

.formulario__input {
  width: 50%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.2em;
  margin-bottom: 12px;
}

.formulario__btn-submit {
  padding: 12px;
  width: 40%;
  border: dotted 3px grey;
  border-radius: 25px;
  background-color: white;
  font-family: "Inter", sans-serif;
  color: rgba(128, 128, 128, 0.295);
  text-transform: uppercase;
  margin: 15px 0 40px 0;
}

body {
  font-size: 1em;
}
/*# sourceMappingURL=main.css.map */